@{
    ViewData["Title"] = "OperacoesMatematicas";
}

<div>
    <h1>Operação Matemática Somar</h1>
    <p>Utilize o formulário abaixo para somar dois número</p>

        <form action="OperacaoSomar" method="post"> 
            <label for="primeiroValor">Número 1</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="primeiroValor" id="primeiroValor">
            </p>
            <label for="segundoValor">Número 2</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="segundoValor" id="segundoValor">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
            
        </form>

    <h1>Operação Matemática Subtrair</h1>
    <p>Utilize o formulário abaixo para subtrair dois número</p>

        <form action="OperacaoSubtrair" method="post"> 
            <label for="primeiroValor">Número 1</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="primeiroValor" id="primeiroValor">
            </p>
            <label for="segundoValor">Número 2</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="segundoValor" id="segundoValor">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    
    <h1>Operação Matemática Multiplicar</h1>
    <p>Utilize o formulário abaixo para multiplicar dois número</p>

        <form action="OperacaoMultiplicar" method="post"> 
            <label for="primeiroValor">Número 1</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="primeiroValor" id="primeiroValor">
            </p>
            <label for="segundoValor">Número 2</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="segundoValor" id="segundoValor">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    
    <h1>Operação Matemática Dividir</h1>
    <p>Utilize o formulário abaixo para dividir dois número</p>

        <form action="OperacaoDividir" method="post"> 
            <label for="primeiroValor">Número 1</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="primeiroValor" id="primeiroValor">
            </p>
            <label for="segundoValor">Número 2</label>
            <p>
                <input type="number" style="width:200px; -moz-appearance: textfield;" name="segundoValor" id="segundoValor">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
</div>